services:

      poznet_log.subscriber.fos_user_subscriber:
          class: poznet\LogBundle\Subscriber\FosUserSubscriber
          arguments: ['@doctrine.orm.entity_manager','@security.token_storage']
          tags:
              - { name: kernel.event_subscriber }

      poznet.log:
          class: poznet\LogBundle\Service\LogService
          arguments: ['@doctrine.orm.entity_manager']